@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Nasza pierwsza wspólna strona</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <input type="text" id="login" name="login"/>
    </div>
    <div>
        <input type="password" id="haslo" name="haslo" />
    </div>
    <div>
        <input tupe="submit" id="wyslij" name="wyslij" />
    </div>
</div>
